<!DOCTYPE html>
	<html lang="en">
    <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title> Task Example </title>
	<meta name="keywords" content="Task Example">
	<meta name="description" content="Task Example">
    <meta name="author" content="Sateesh Peetha">
	<meta name="copyright" content="2017-forever">
	<meta name="contact" content="sateesh.peetha@protonmail.com">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	
	</head>
	
<body ng-app="myApp" ng-controller="TaskCtrl">
	<br>
    <br>
	<h2 class="modal-title" style="text-align:center">Task List</h2>

  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
		  
		 <form class="navbar-form navbar-left" role="search" ng-submit="taskAdd()" >
			
		   <div class="form-group">
	  			
	  			 <input type="checkbox" ng-model="SelectAll" class="lead">
				 <input type="text" ng-model="taskInput" size="80" placeholder="Add New Task here"  class="form-control"/>
				 
		   </div>
		   <input type="submit" value="Add Task" class="btn btn-default"/>
		   
		 </form>
		  
        
		
		
      </div>
      <div class="modal-body">
		 
		   
		       <div ng-repeat="x in taskList" style="padding:0px;margin:0px;margin-left:16px">
				  
					 <input type="checkbox" ng-model="x.done" class="lead" > 
			         <span ng-bind="x.taskText" ng-hide="x.edit"></span> 
					 <div ng-show="x.edit">
					 <input type="text" ng-model="x.taskText"  size="80" ng-keypress="editUpdate(this)" aria-describedby="helpBlock"> 
					 <span id="helpBlock" class="help-block"> Edit task and presss enter to save. </span>
				     </div>
				     
			    </div>
		
	    </div>
      <div class="modal-footer">
	<div class="btn-toolbar " style="margin-left:13px">	  
  	<button ng-click="remove()" class="btn btn-default btn-group" >Delete Task</button>
  	<button ng-click="edit()"  class="btn btn-default btn-group" >Edit Task</button>
</div>
      </div>
    </div>

  </div>




<script type="text/javascript">
var app = angular.module('myApp', []); 
app.controller('TaskCtrl', function($scope) {
    $scope.taskList = [{taskText:'Eat Breakfast', done:false , edit : false}];

    $scope.taskAdd = function() {
        $scope.taskList.push({taskText:$scope.taskInput, done:false, edit:false});
	   
        $scope.taskInput = "";
    };

    $scope.remove = function() {
        var oldList = $scope.taskList;
        $scope.taskList = [];
        angular.forEach(oldList, function(x) {
			
            if (!x.done) $scope.taskList.push(x);
        });
    };
	$scope.edit = function() {
		
        var oldList = $scope.taskList;
        $scope.taskList = [];
        angular.forEach(oldList, function(x) {
			
            if (x.done) {  $scope.taskList.push(x);
			x.edit = true;
			}
			
			if (!x.done) $scope.taskList.push(x);
			
        });
       
    };
	
	$scope.editUpdate = function(task) {
		
      
        
		if ( event.which == 13 ) {
			
	        var oldList = $scope.taskList;
	        $scope.taskList = [];
			
			  angular.forEach(oldList, function(x) {
			
				  if (task.x.$$hashKey == x.$$hashKey ) {
					
					  x.taskText = task.x.taskText;
					  x.edit     = false;
					  x.done     = false;
				  	$scope.taskList.push(x);
					
				  }
				  else $scope.taskList.push(x);
		
		  });
			
		}
       
    };
   
});
	
</script>

</body>

</html>
