<!DOCTYPE html>
	<html lang="en">
    <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title> Task Example </title>
	<meta name="keywords" content="Task Example">
	<meta name="description" content="Task Example">
    <meta name="author" content="Sateesh Peetha">
	<meta name="copyright" content="2017-forever">
	<meta name="contact" content="sateesh.peetha@protonmail.com">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	
	</head>
	<body ng-app="myApp" ng-controller="TaskCtrl">

<h2>Task List</h2>

<form ng-submit="taskAdd()">
    <input type="text" ng-model="taskInput" size="50" placeholder="Add New">
    <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in taskList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.taskText"></span>
</div>

<p><button ng-click="remove()">Delete Task</button></p>


<script>
var app = angular.module('myApp', []); 
app.controller('taskCtrl', function($scope) {
    $scope.taskList = [{taskText:'Eat Breakfast', done:false}];

    $scope.taskAdd = function() {
        $scope.taskList.push({taskText:$scope.taskInput, done:false});
        $scope.taskInput = "";
    };

    $scope.remove = function() {
        var oldList = $scope.taskList;
        $scope.taskList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.taskList.push(x);
        });
    };
	
    };
});
</script>

</body>
