	<div class="container container-fluid">
	<br>
    <br>
	<h2 class="modal-title" style="text-align:center">Task List</h2>

  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
		  
		 <form class="navbar-form navbar-left" role="search" ng-submit="taskAdd()" >
			
		   <div class="form-group">
	  			
	  			 <input type="checkbox" ng-model="masterSelect" ng-click="selectAll(this)" class="lead">
				 <input type="text" ng-model="taskInput" size="80" placeholder="Add New Task here"  class="form-control"/ ng-keyup="addNew(this)" >
				 
				 
		   </div>
		   <input type="submit" value="Add Task" class="btn btn-default"/>
		   
  		 <div class="alert alert-danger alert-dismissable" ng-show="Error" ng-model="Error" style="margin-top:15px">
  		   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  		     ! Duplicate  or Empty task. Please try again. 
  		  </div>
		   
		 </form>
		
		
      </div>
      <div class="modal-body">
		 
		   
		       <div ng-repeat="x in taskList" style="padding:0px;margin:0px;margin-left:16px">
				  
					 <input type="checkbox" ng-model="x.done" class="lead" ng-hide="x.filter" > 
			         <span ng-bind="x.taskText" ng-hide="x.edit || x.filter"></span> 
					 <div ng-show="x.edit">
					 <input type="text" ng-model="x.taskText"  size="80" ng-keypress="editUpdate(this)" aria-describedby="helpBlock"> 
					 <span id="helpBlock" class="help-block"> Edit task and presss enter to save. </span>
				     </div>
				     
			    </div>
		
	    </div>
      <div class="modal-footer">
	<div class="btn-toolbar " style="margin-left:13px">	  
  	<button ng-click="remove()" class="btn btn-default btn-group" >Delete Task</button>
  	<button ng-click="edit()"  class="btn btn-default btn-group" >Edit Task</button>
</div>
      </div>
    </div>

  </div>
</div>
